*{
  box-sizing: border-box;
}

body{
  margin: 0px;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #edf7ff;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 200px;
  background-color: #edf7ff;
}

.login{
  display: inline-block;
  width: 128px;
  text-align: center;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 600;
}

.title{
  display: flex;
  padding-top: 70px ;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: #F0F6FF;
}

.title_color{
  background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main_image{
  width: 1118px;
  height: 540px;
  border-radius: 25px;
  background-image: url(../images/image1.png);
  background-size: cover; 
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
  margin-top : 50px 
}

h1{
  text-align: center;
  font-family: Pretendard;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px; 
  margin: 0px;
}

.link{
  color: white;
  display: flex;
  width: 350px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%)); 
  font-size: 18px;
  color: var(--grey-light, #F5F5F5);
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 600;
}

article{  
  padding-top: 0px;
  padding-bottom: 120px;
}

section{
  display: flex;
  padding-top: 100px;
  justify-content: center;
  align-content: center;
  column-gap: 157px;
  row-gap: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  height: 550px;
}

.content{
  font-family: Pretendard;
  font-size: 48px;
  font-weight: 700;
  margin: 0;
  width: 291px;
}

.inside{
  color: #6B6B6B;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 500;
  width: 270px;
  line-height: 150%
}

.section_image{
  width: 550px;
  height: 450px;
  border-radius: 15px;
  background: #F0F6FF;
}

.link_color{
  background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.link_color2{
  background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link_color3{
  background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link_color4{
  background: var(--fandom-k-gra-blue-to-pink, linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 160px;
  background-color: #111322;
}

.footer_box{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 32px;
  margin: 0 104px;
}

.write{
  color: #676767;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  width: 105px;
}

.footer_links{
  display: flex;
  column-gap: 30px;
  margin-top: 0;
  padding-left: 0;
}

.footer_link {
  color: #CFCFCF;
  font-family: Abel;
  font-size: 16px;
  font-weight: 400;
}

.icon_list {
  display: flex;
  column-gap: 12px;
  margin-top: 0;
}

.noline, .footer_link{
  text-decoration-line: none;
}

li{
  list-style-type: none;
}

/* 반응형 pc 1200px 이상 이미지 크기 고정값*/
@media(min-width:1200px){
  
}

/* 반응형 타블렛 768이상 ~ 1199이하 이미지 크기 고정값 */
@media(max-width : 1199px){

  .nav{
    padding: 20px 30px;
  }

  .logoSize{
    width: 133px;
  }

  .login{
    width: 128px;
    padding: 16px 20px;
    font-size: 18px;
  }

  .title{
    padding-top: 39px;
    height: 756px;
  }

  h1{
    font-size: 64px;
    line-height: 80px;
  }

  .mobile_title{
    display: block;
  }

  .link{
    width: 350px;
    font-size: 18px;
  }

  .main_image{
    width: 650px;
    margin-top: 30px;
  }

  section{
    padding-top: 70px;
    column-gap: 51px;
    height: 445px;
  }

  .content{
    width: 262px;
    font-size: 48px;
  }

  .inside{
    width: 277px;
    font-size: 16px;
  }

  .section_image{
    width: 384px;
    height: 315px;
  }
}

/* 반응형 모바일 375~767 모바일 화면 늘어나는거 바꾸기 */
@media (max-width:767px){
 
  .nav{
    padding: 13px 32px;
  }

  .title{
    padding: 28px 50px 0;
    height: auto;
    gap: 24px;
  }

  .logoSize{
    width: 88px;
  }
  
  .login{
    width: 80px;
    padding: 10px 16px;
    font-size: 14px;
  }
  
  h1{
    font-size: 32px;
    line-height: 42px;
  }

  .mobile_title{
    display: block;
  }
  
  .link{
    width: 200px;
    font-size: 14px;
  }

  .main_image{
    width: 302px;
    height: 145px;
    margin: 0;
  }
  
  .content{
    font-size: 24px;
    width: 100%;
    max-width: 325px;
    order: 1;
  }
  
  .section_image{
    width: 100%;
    max-width: 325px;
    height: 265px;
    order: 2;
  }

  .inside{
    font-size: 15px;
    width: 100%;
    max-width: 325px;
    margin: 0;
    order: 3;
  }

  section{
    height: auto;
    gap: 20px;
    padding: 40px 32px 0 32px;
    /* width: 100%;  */
  }

 .footer_box{
    position: relative;
    padding: 32px;
    margin: 0;
  }

  .footer_links{
    gap: 90px;
  }

.write{
    position: absolute;
    bottom: 30px;
  }
}